<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<%- include('../compartido/menu/menu-component')%>

<%const existeUsuario=typeof usuario!='undefined'%>



<% let existeNombre = typeof nombre !== 'undefined' %>
<% let existeApellido = typeof apellido !== 'undefined' %>
<% let existeCedula = typeof cedula !== 'undefined' %>

<h1><%=existeUsuario? 'Editar':'Crear'%></h1>

<%if(existeUsuario){%>


    <%existeNombre=true%>
    <%existeApellido=true%>
    <%existeCedula=true%>
    <%nombre=usuario.nombre%>
    <%apellido=usuario.apellido%>
    <%cedula=usuario.cedula%>

<%}%>


<% if(typeof error !== undefined){%>
    <p>Mensaje de error: <%=error%></p>
<% }%>

<form action="<%= existeUsuario? '/usuario/editarDesdeVista/'+usuario.id:'/usuario/crearDesdeVista'%>" method="post">

    <label for="nombreID">Nombre:</label>
    <input id="nombreID" type="text" name="nombre" value="<%= existeNombre ? nombre : ''%>">
    <br>

    <label for="apellidoID">Apellido:</label>
    <input id="apellidoID" type="text" name="apellido" value="<%= existeApellido ? apellido : '' %>">
    <br>

    <label for="cedulaID">Cedula:</label>
    <input id="cedulaID"
           type="text"
           disabled="<%=existeUsuario? true:false%>"
           name="cedula"
           value="<%= existeCedula ? cedula : '' %>">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>

</form>




<%- include('../compartido/funcionalidad general/funcionalidad-general-component')%>