<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<%- include('../compartido/menu/menu-component')%>
<h1>Crear Usuario</h1>

<% if(typeof error !== undefined){%>
    <p>Mensaje de error: <%=error%></p>
<% }%>

<form action="/usuario/crearDesdeVista"
        method="post">
    <% const existeNombre = typeof nombre !== 'undefined' %>
    <label for="nombreID">Nombre:</label>
    <input id="nombreID" type="text" name="nombre" value="<%= existeNombre ? nombre : '' %>">
    <br>
    <% const existeApellido = typeof apellido !== 'undefined' %>
    <label for="apellidoID">Apellido:</label>
    <input id="apellidoID" type="text" name="apellido" value="<%= existeApellido ? apellido : '' %>">
    <br>
    <% const existeCedula = typeof cedula !== 'undefined' %>
    <label for="cedulaID">Cedula:</label>
    <input id="cedulaID" type="text" name="cedula" value="<%= existeCedula ? cedula : '' %>">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>

</form>




<%- include('../compartido/funcionalidad general/funcionalidad-general-component')%>