<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<h1>Inicio</h1>
<%- include('../compartido/menu/menu-component')%>
<!-- PRACTICA DE INYECCION CODIGO JS -->
<!--<% const Lesly={nombre:"Lesly",apellido:"Tello", cedula:"1444"}%>-->
<!--<% const numero=25%>-->
<!--<% const mensaje="Hola"%>-->
<!--<p><%=numero%></p>-->
<!--<p><%=mensaje%></p>-->
<!--<p><%=Lesly.nombre%>  <%=Lesly.apellido%> </p>-->


<a href="/usuario/vista/crear">
    <button>Crear</button>
</a>
<%if(typeof parametrosConsulta!= 'undefined'){%>
<p> Mensaje:<%=parametrosConsulta.mensaje%></p>
<%}%>
<table>
    <tr>
        <th> Nombre</th>
        <th> Apellido</th>
        <th> Cedula</th>
        <th> Acciones</th>

    </tr>

        <%arregloUsuarios.forEach((objeto)=>{%>
            <tr>
            <td><%=objeto.nombre %></td>
                <td><%=objeto.apellido %></td>
                <td><%=objeto.cedula %></td>
                <td>
                    <button>Ver</button>

                    <a href="/usuario/vista/editar/<%=objeto.id%>">
                        <button>Editar</button>
                    </a>


                    <form action="/usuario/eliminarDesdeVista/<%=objeto.id%>"
                        method="post">
                        <button>Eliminar</button>
                    </form>

                </td>
            </tr>
        <% })%>


</table>

<% const arregloNumeros=[1,2,3,4,5]%>

<!--Definir un arreglo de numeros-->
<ul>
    <%arregloNumeros.forEach((objeto)=>{ %>
        <li><%= objeto%></li>
    <% })%>
</ul>
<%- include('../compartido/funcionalidad general/funcionalidad-general-component')%>